configure
*~
*.dSYM
config.log
config.status
config.h
*.o
Makefile
autom4te.cache/
doc/i-ls.1
doc/i-viewdb.1
doc/integrit.1
doc/integrit.texi
hashtbl/libhashtbl.a
integrit
libintegrit.a
test/test
test/intpack
